<div class="allAds add-top-margin ">
    <div class="container">
        <div class="row">
            <div class="search-block">
                <div class="col-md-6 search">
                    <form action="">
                        <input type="text" class="searchTerm" placeholder="Search"/>
                        <button type="submit" class="searchButton">
                            <span>Search</span>
                        </button>
                    </form>
                </div>
                <div class="col-md-3 float-right">
                    <div class="btn-custom btn-sell float-right">
                        <a href="">
                            <span>Post Your Property</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="add-detail allAds">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-img-slider">
                <h1>image</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 left-block">
                <div class="ad-detail">
                    <div class="img">
                        dfs
                    </div>
                    <div class="descrip">
                        <span>Nishan Madusanka</span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing
                            software like
                        </p>
                    </div>
                </div>

                <div class="ad ad-edit">
                    <div class="img col-md-6">

                    </div>
                    <div class="details col-md-6">
                        <div class="top-paid">
                            <span>Top paid</span>
                        </div>
                        <div class="title">
                            <span>House in Nittambuwa</span>
                        </div>
                        <div class="detail">
                            <span>Kurunagala</span>
                            <span> ,</span>
                            <span>Houses</span>

                            <hr>
                            <p>Two sized house, fully tiles, celing, large
                                open balcony
                            </p>

                            <strong class="price">Rs 17,500,000</strong>
                        </div>
                        <div class="hours">
                            <span>2 hours</span>
                        </div>
                    </div>
                    <div class="hr-line col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="ad ad-edit">
                    <div class="img col-md-6">

                    </div>
                    <div class="details col-md-6">
                        <div class="bounse">
                            <span>bounse</span>
                        </div>
                        <div class="title">
                            <span>House in Nittambuwa</span>
                        </div>
                        <div class="detail">
                            <span>Kurunagala</span>
                            <span> ,</span>
                            <span>Houses</span>

                            <hr>
                            <p>Two sized house, fully tiles, celing, large
                                open balcony
                            </p>

                            <strong class="price">Rs 17,500,000</strong>
                        </div>
                        <div class="hours">
                            <span>2 hours</span>
                        </div>
                    </div>
                    <div class="hr-line col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="ad ad-edit">
                    <div class="img col-md-6">

                    </div>
                    <div class="details col-md-6">
                        <div class="title">
                            <span>House in Nittambuwa</span>
                        </div>
                        <div class="detail">
                            <span>Kurunagala</span>
                            <span> ,</span>
                            <span>Houses</span>

                            <hr>
                            <p>Two sized house, fully tiles, celing, large
                                open balcony
                            </p>

                            <strong class="price">Rs 17,500,000</strong>
                        </div>
                        <div class="hours">
                            <span>2 hours</span>
                        </div>
                    </div>
                    <div class="hr-line col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="ad ad-edit">
                    <div class="img col-md-6">

                    </div>
                    <div class="details col-md-6">
                        <div class="top-paid">
                            <span>Top paid</span>
                        </div>
                        <div class="title">
                            <span>House in Nittambuwa</span>
                        </div>
                        <div class="detail">
                            <span>Kurunagala</span>
                            <span> ,</span>
                            <span>Houses</span>

                            <hr>
                            <p>Two sized house, fully tiles, celing, large
                                open balcony
                            </p>

                            <strong class="price">Rs 17,500,000</strong>
                        </div>
                        <div class="hours">
                            <span>2 hours</span>
                        </div>
                    </div>
                    <div class="hr-line col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-block">
                <div class="contact-details">
                    <span class="phone">076 1 234 567</span>

                    <form action="">
                        <div class="form-row">
                            <span>Address</span>
                        </div>
                        <div class="form-row">
                            <span>Address</span>
                        </div>
                        <div class="form-row">

                        </div>
                        <div class="form-row">

                        </div>
                        <div class="form-row">

                        </div>
                    </form>

                </div>

                <div class="adverticemnt">
                    <h1>advertisement</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bottom-block">
    <div class="container">
        <div class="row bottom-footer remove-top-margin">
            <strong>www.idam.lk</strong>
        </div>
    </div>
</div>