<footer>
    <div class="container">
        <div class="row">
            <div class="footer-block col-md-3 col-sm-6 col-xs-12">
                <div class="footer-title">
                    <h3>Learn More</h3>
                </div>
                <div class="links">
                    <a href="">How to sell fast</a>
                    <a href="">Membership</a>
                    <a href="">Banner Advertising</a>
                    <a href="">Promote your ad</a>
                </div>
            </div>
            <div class="footer-block col-md-3 col-sm-6 col-xs-12">
                <div class="footer-title">
                    <h3>Help & Support</h3>
                </div>
                <div class="links">
                    <a href="">FAQ</a>
                    <a href="">Contact us</a>
                </div>
            </div>
            <div class="footer-block col-md-3 col-sm-6 col-xs-12">
                <div class="footer-title">
                    <h3>Social</h3>
                </div>
                <div class="links">
                    <a href="">Blog</a>
                    <a href="">Facebook</a>
                    <a href="">Twitter</a>
                    <a href="">Youtube</a>
                    <a href="">Google+</a>
                </div>
            </div>
            <div class="footer-block col-md-3 col-sm-6 col-xs-12">
                <div class="footer-title">
                    <h3>About us</h3>
                </div>
                <div class="links">
                    <a href="">About us</a>
                    <a href="">Career</a>
                    <a href="">Terms & Conditions</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Sitemap</a>
                </div>
            </div>
        </div>

        <div class="row bottom-footer">

            <strong>www.idam.lk</strong>
        </div>
    </div>
</footer>