<header>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="logo">
                    <a href="">
                        <img src="/static/images/logo-white.png"/>
                    </a>
                </div>
                <div class="links">
                    <div class="link">
                        <a href="">
                            <img src="/static/images/service-white.png"/>
                            <span>Services</span>
                        </a>
                    </div>
                    <div class="link">
                        <a href="">
                            <img src="/static/images/login-white.png"/>
                            <span>Login</span>
                        </a>
                    </div>
                    <div class="link">
                        <a href="">
                            <img src="/static/images/complain-white.png"/>
                            <span>Inquiry</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="lang">
                <div class="lang-type">
                    <span>Eng</span>
                </div>
                <div class="lang-type">
                    <span>English</span>
                </div>
            </div>
        </div>
    </div>
</header>