<div class="container">
    <div class="row">
        <div class="adverticemnt col-md-12">
            <h1>Adveticemnt</h1>
        </div>
    </div>
</div>


<section class="home">
    <div class="container">
        <div class="row">
            <div class="lang col-md-12">
                <div class="lang-type">
                    <span>isxy</span>
                </div>
                <div class="lang-type">
                    <span>English</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="home-header">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="/static/images/home-07.png"/>
                        <h2>Buy and sell properties in sri lanka</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="left-pannel col-md-6 col-sm-12 col-xs-12">
                <div class="district">
                    <h1>Districts</h1>

                    <ul>
                        <li><a href="">Colombo</a> </li>
                        <li><a href="">Kandy</a> </li>
                        <li><a href="">Galle</a> </li>
                        <li><a href="">Ampara</a> </li>
                        <li><a href="">Anuradapura</a> </li>
                        <li><a href="">Badulla</a> </li>
                        <li><a href="">Batticaloa</a> </li>
                        <li><a href="">Gampaha</a> </li>
                        <li><a href="">Hambantota</a> </li>
                        <li><a href="">Jaffna</a> </li>
                        <li><a href="">Kalutara</a> </li>
                        <li><a href="">Kegalle</a> </li>
                        <li><a href="">Kilinochchi</a> </li>

                        <li><a href="">Kurunegala</a></li>
                        <li><a href="">Mannar</a></li>
                        <li><a href="">Matale</a></li>
                        <li><a href="">Matara</a></li>
                        <li><a href="">Monaragala</a></li>
                        <li><a href="">Mullative</a></li>
                        <li><a href="">Nuwara Eliya</a></li>
                        <li><a href="">Polonnaruwa</a></li>
                        <li><a href="">Puttalam</a></li>
                        <li><a href="">Rathnapura</a></li>
                        <li><a href="">Trincomalee</a></li>
                        <li><a href="">Vavuniya</a></li>

                    </ul>
                </div>
            </div>
            <div class="right-pannel col-md-6 col-sm-12 col-xs-12">
                <div class="custom-row margin-auto">
                    <div class="block">
                        <img src="/static/images/service-07.png"/>
                        <span>Services</span>
                    </div>
                    <div class="block">
                        <img src="/static/images/login-07.png"/>
                        <span>Login</span>
                    </div>
                    <div class="block">
                        <img src="/static/images/inqure-07.png"/>
                        <span>Inquiry</span>
                    </div>
                </div>
                <div class="custom-row add-cus-margin">
                    <p>do you have a property to sell or rent?</p>
                    <div class="btn-custom btn-sell margin-auto">
                        <a href="">
                            <span>Post Your Property</span>
                        </a>
                    </div>
                </div>

                <div class="custom-row">
                    <p>do you want to buy or sell property?</p>
                    <div class="btn-custom btn-buy margin-auto">
                        <a href="">
                            <span>Search Property</span>
                        </a>
                    </div>
                </div>

                <div class="custom-row add-cus-margin">
                    <a href="">Help ?</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 bottom-para">
                <p>fastest land selling web site in sri lanka</p>
            </div>
        </div>
    </div>
</section>