/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$iphone-landscape: 667px;
$iphone-portrait: 375px;
$mobile-landscape: 480px;
$mobile-portrait: 320px;