/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$black: #000000;
$white: #FFFFFF;
$grey: #f1f1f1;
$blue: #000099;

$background: #F0F0F0;

$blue1:#26ADDD;
$blue2:#289FDB;

$green1: #8BBA19;
$green2: #3CB71A;

$grey1: #AAAAAA;
