
body {
  background: $background;
  font-size: 14px;
  line-height: 20px;
  @extend .nirmala;
  color:#3E3E3E;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 20px !important;
}
h1 {
  font-size: 19pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 13pt;
}

a {
  color: $black;
  @extend .transition;

  &:hover {
    color: $blue;
  }

}

.slideshow {
    ul {
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;

      li {
        background: $grey;
        padding: 4rem 2rem;

        h3 {
          text-align: center;
          max-width: 90%;
        }
      }

    }
}

.margin-auto{
  margin: auto;
  display: table;
}
.float-right{
  float:right !important;
}
.remove-top-margin{
  margin-top:0px;
}
.add-top-margin{
  margin-top: 20px !important;
}